.trash/
.obsidian/workspace.json
.obsidian/plugins/cicada-sync/data.json
.obsidian/plugins/emoji-shortcodes/data.json
.obsidian/plugins/gtd-no-next-step/data.json
.obsidian/plugins/obsidian-trello/data.json
.obsidian/plugins/update-time-on-edit/data.json